<% provide(:title, 'Editar Ente') %>
<% provide(:content_header_path,  entes_path) %>
<% provide(:content_header_data1,
          "<i class='fa fa-sitemap'></i> Entes".html_safe) %>
<% provide(:content_header_data2,  'Editar') %>

<div class="row">
	  <div class="col-lg-10">
        <section class="panel">
            <header class="panel-heading">
                Editar Ente
            </header>
            <div class="panel-body">
            	<%= render 'form' %>    
            </div>
        </section>
	  </div>
</div>
