<div class="modal fade" id="myImportPagos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #ec6459">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class='fa fa-usd'></i> Importar Pagos</h4>
            </div>
            <div class="modal-bodypagos">

            </div>
        </div>
    </div>
</div>

