<% provide(:title, 'Listado de RA') %>
<% provide(:content_header_path,  red_asistencials_path) %>
<% provide(:content_header_data1,
          "<i class='fa fa-sitemap'></i> Redes Asistenciales".html_safe) %>

<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Listado de redes asistenciales
      </header>
      <div class="panel-body">
        <table class="table table-striped table-advance table-hover">
          <thead>
            <tr>
              <th><i class="fa fa-bullhorn"></i> ID ESSALUD</th>
              <th><i class="fa fa-sitemap"></i> Nombre de la red</th>
              <th class="hidden-phone"><i class="fa fa-user"></i> Contacto</th>
              <th><i class="fa fa-phone-square"></i> Teléfono</th>
              <th><i class=" fa fa-hospital-o"></i> Entes</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render @red_asistencials %>
          </tbody>
        </table>
      </div>

      <header class="panel-heading" style= 'text-align: center'>
        <%= link_to new_red_asistencial_path, :class => 'btn btn-success' do %>
          <i class="fa fa-sitemap"> </i> Nueva RA
        <% end %>
        <a class="btn btn-warning" data-toggle="modal" href="#myImportRAModal">
            <i class="fa fa-upload"> </i> Importar
        </a>         
      </header>
    </section>
  </div>
</div>
<%= render 'import_modal' %>


            
