<% provide(:title, 'Nueva RA') %>
<% provide(:content_header_path,  red_asistencials_path) %>
<% provide(:content_header_data1,
          "<i class='fa fa-sitemap'></i> Redes Asistenciales".html_safe) %>
<% provide(:content_header_data2,  'Nueva RA') %>


<div class="row">
	  <div class="col-lg-10">
        <section class="panel">
            <header class="panel-heading">
                Registro de una nueva RA
            </header>
            <div class="panel-body">
            	<%= render 'form' %>    
            </div>
        </section>
	  </div>
</div>

