$(function() {
	$("#btnGetAjax").click(function(){
		$('#second_fila').html('');
		$('#loadingspan').remove();
		loading = $('<span id="loadingspan" style="margin-left:10px;"><%= image_tag "loading.gif", alt: "Cargando ..."%></span>');
    $('#loading').append(loading);
	});
});