<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="fa fa-user"></i>
            </div>
            <div class="value">
                <h1 class="count">
                    <%= Enfermera.total_sinesss.count%>
                </h1>
                <p>Agremiados</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="fa fa-h-square"></i>
            </div>
            <div class="value">
                <h1 class=" count2">
                     <%= @bases.count%>
                </h1>
                <p>Bases</p>
            </div>
        </section>
    </div>    
</div>

<div class="row">
<div class="col-lg-6">
  <section class="panel">
      <header class="panel-heading">
        Enfermeras por régimen laboral 
      </header>
      <div class="panel-body">
          
      </div>
  </section>
  </div>
</div>
