<div class="lock-wrapper">

        <div id="time"></div>


        <div class="lock-box text-center">
            <%= image_tag 'logo.jpg', size: "75x75"%>
                      
            <form class="form-signin" action="/dashboard">
                <h2 class="form-signin-heading">INGRESO AL SISTEMA</h2>
                <div class="login-wrap">
                    <input type="text" class="form-control" placeholder="DNI" autofocus>
                    <input type="password" class="form-control" placeholder="Password">
                    <label class="checkbox">
                        <input type="checkbox" value="remember-me"> Remember me
                        <span class="pull-right">
                            <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                        </span>
                    </label>
                    <button class="btn btn-lg btn-login btn-block" type="submit">Ingresar</button>
                </div>
             </form>
        </div>
    </div>
    <script>
        function startTime()
        {
            var today=new Date();
            var h=today.getHours();
            var m=today.getMinutes();
            var s=today.getSeconds();
            // add a zero in front of numbers<10
            m=checkTime(m);
            s=checkTime(s);
            document.getElementById('time').innerHTML=h+":"+m+":"+s;
            t=setTimeout(function(){startTime()},500);
        }

        function checkTime(i)
        {
            if (i<10)
            {
                i="0" + i;
            }
            return i;
        }
    </script>