<li class="sub-menu">
    <% if  controller_name == 'imports' %>
    <a href="<%= imports_path %>" class="active">
    <%else%>        
    <a href="<%= imports_path %>" >
    <% end %>
        <i class="fa fa-save"></i>
        <span>Log de data importada</span>        
    </a>
</li>

