<li class="sub-menu">
    <a href="javascript:;" >
        <i class="fa fa-group"></i>
        <span>Organizacional</span>
    </a>
    <ul class="sub">
        <li><%= link_to '<i class="fa fa-h-square"></i> Bases'.html_safe, '#'%></li>
        <li><%= link_to '<i class="fa fa-female"></i> Enfermeras'.html_safe, '#'%></li>
        <li><%= link_to '<i class="fa fa-sitemap"></i> Redes Asistenciales'.html_safe, '#'%></li>
        <li><%= link_to '<i class="fa fa-hospital-o"></i> Entes'.html_safe, '#'%></li>
    </ul>
</li>
