<li class="sub-menu">
    <% if  controller_name == 'red_asistencials' || controller_name == 'entes' ||
           controller_name == 'enfermeras' || controller_name == 'bases'%>
    <a href="javascript:;" class="active">
    <%else%>        
    <a href="javascript:;">
    <% end %>
        <i class="fa fa-group"></i>
        <span>Organizacional</span>        
    </a>
    <ul class="sub">

        <% if  controller_name == 'bases' %>
        <li class="active">
        <%else%>
        <li>
        <% end %>
            <%= link_to '<i class="fa fa-h-square"></i> Bases'.html_safe, bases_path%>
        </li>

        <% if  controller_name == 'enfermeras' %>
        <li class="active">
        <%else%>
        <li>
        <% end %>
            <%= link_to '<i class="fa fa-female"></i> Enfermeras'.html_safe, enfermeras_path%>
        </li>
        
        <% if  controller_name == 'red_asistencials' %>
        <li class="active">
        <%else%>
        <li>  
        <% end %>
            <%= link_to '<i class="fa fa-sitemap"></i> Redes Asistenciales'.html_safe,  red_asistencials_path%>
        </li>
        <% if  controller_name == 'entes' %>
        <li class="active">
        <%else%>
        <li>  
        <% end %>        
            <%= link_to '<i class="fa fa-hospital-o"></i> Entes'.html_safe, entes_path%>
        </li>
    </ul>
</li>
