<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <% if  controller_name == 'home' %>
                <a href="/dashboard" class="active">
                <%else%>        
                <a href="/dashboard">
                <% end %>
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <%= render 'layouts/admin_partials/aside/organizacional'%>
            <%= render 'layouts/admin_partials/aside/aportaciones'%>
            <li>
                <a href="javascript:;" >
                    <i class="fa fa-bar-chart-o"></i>
                    <span>Reportes</span>
                </a>
            </li>
            <li>
                <a href="javascript:;" >
                    <i class="fa fa-user"></i>
                    <span>Usuarios</span>
                </a>
            </li>
            <%= render 'layouts/admin_partials/aside/importacion'%>                     
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->