<footer class="site-footer">
    <div class="text-center">
        <%= Time.now.year %> &copy; Iokero
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
    </div>
</footer>
