<header class="header white-bg">
    <div class="sidebar-toggle-box">
        <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation">
        </div>
    </div>
    <%= render 'layouts/admin_partials/header/logo'%>
    <%= render 'layouts/admin_partials/header/notifications'%>
    <%= render 'layouts/admin_partials/header/user_info'%>
</header>
