<div class="panel-body bio-graph-info">
    <h1>Datos de la enfermera</h1>
    <div class="row">
        <div class="bio-row">
            <p><span>Ap. Paterno </span>: <%=@enfermera.apellido_paterno%></p>
        </div>
        <div class="bio-row">
            <p><span>Ap. Materno </span>: <%=@enfermera.apellido_materno%></p>
        </div>
        <div class="bio-row">
            <p><span>Nombres </span>: <%=@enfermera.nombres %></p>
        </div>
        <div class="bio-row">
            <p><span>Sexo</span>:</p>
        </div>
        <div class="bio-row">
            <p><span>Nacimiento </span>:</p>
        </div>
        <div class="bio-row">
            <p><span>Email </span>: <%=@enfermera.email %></p>
        </div>
        <div class="bio-row">
            <p><span>DNI </span>:</p>
        </div>
        <div class="bio-row">
            <p><span>Teléfono casa </span>:</p>
        </div>
        <div class="bio-row">
            <p><span>Teléfono celular</span>:</p>
        </div>
        <div class="bio-row">
            <p><span>Factor sanguineo </span>:</p>
        </div>
        <div class="bio-row">
            <p><span>Dirección </span>:</p>
        </div>
    </div>
</div>
