<% if can? :update, Enfermera%>
<center>
    <% if !@enfermera.b_sinesss%>
        <a class="btn btn btn-danger" data-toggle="modal" href="#afiliacion_modal", id='btnAfilicaionModal'>
            <i class="fa fa-check-circle-o"> </i> Afiliar
        </a>        
    <% else %>
        <a class="btn btn btn-danger" data-toggle="modal" href="#afiliacion_modal", id='btndesaModal'>
            <i class="fa fa-times-circle-o"> </i> Desafiliar
        </a> 
    <% end %>
    <a class="btn btn btn-warning" data-toggle="modal" href="#trasladar_modal", id='btnTraladoModal'>
        <i class="fa fa-arrows-v"> </i> Trasladar
    </a>
</center>    
<% end %>


