<div class="col-lg-12">
    <section class="panel">
        <header class="panel-heading">
            Atención! Se van a actualizar los datos de las enfermeras, el archivo debe ser la el FORMATO dado al SINESSS. 
        </header>
        <div class="panel-body">
        		<%= form_tag enfermeras_importar_data_actualizada_path, multipart: true  do %>
	        		<div class="form-group">
	        			<label for="archivo">Archivo</label>
	        			<%= file_field_tag :archivo ,:accept => '.csv' %>
	        			<p class="help-block">El formato debe ser CSV.</p>
	        		</div>
	        		<div class="form-group">
	        			<label for="file">Descripción (MAX 250)</label>
	        			<%=text_area_tag 'descripcion', nil, rows: 5, class: 'form-control'%>
	        		</div>	        		
							<center><%= submit_tag "Procesar", class: 'btn btn-primary' %></center>
						<% end %> 
        </div>
    </section>
</div>