<% provide(:title, "Nueva enfermera") %>
<% provide(:content_header_path,  enfermeras_path) %>
<% provide(:content_header_data1,
          "<i class='fa fa-female'></i> Enfermeras".html_safe) %>
<% provide(:content_header_data2,
          "Nueva enfermera".html_safe) %>

<div class="row">
    <aside class="profile-info col-lg-9">
        <section>
            <div class="panel panel-primary">
                <div class="panel-heading"> Registro de nueva enfermera</div>
                <div class="panel-body">
                 		<%= render 'form' %>     
                </div>
            </div>
        </section>       
    </aside>
</div>
