<section class="panel">
        <header class="panel-heading">
          Entes
        </header>
        <div class="panel-body bio-graph-info">     
          <div class="row">
              <% @basis.entes.each do |ente|%>
                <div class="bio-row">
                  <p><span>Ente</span><span class="label label-warning" style="width:150px">
                    <%= link_to ente.cod_essalud, ente_path(ente.id) %>  
                  </span></p>
                </div>  
              <% end %>
          </div>               
        </div>
        <header class="panel-heading">
        Datos de la Base   
        </header>
        <div class="panel-body bio-graph-info">
            <div class="row">
                <div class="bio-row">
                    <p><span>Cod. Base</span>: <%= @basis.codigo_base %></p>
                </div>
                <div class="bio-row">
                    <p><span>Nombre</span>: <%= @basis.nombre_base %></p>
                </div>
            </div>
        </div>
        <header class="panel-heading">
        Datos de Junta Directiva Actual  
        </header>
        <div class="panel-body bio-graph-info">
            <div class="row">
               
            </div>
        </div>

        <header class="panel-heading" style="text-align: center">
        <a class="btn btn-primary" href="/entes/352/edit">
          <i class="fa fa-pencil"> </i> Editar
        </a>        <a class="btn btn-default" href="/red_asistencials/29/entes">
          <i class="fa fa-sitemap"> </i> Ver RA
        </a>        <a class="btn btn-default" href="/entes/352/enfermeras">
          <i class="fa fa-female"> </i> Ver Enfermeras
        </a>        <a class="btn btn-danger" data-confirm="¿Estás seguro?. Se eliminará este ente. " data-method="delete" href="/entes/352" rel="nofollow">
          <i class="fa fa-trash-o"> </i> Eliminar
        </a>      </header>
</section>