<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Reporte PDF mensual de cotizaciones atrasadas
      </header>
      <div class="panel-body">
                
      </div>      
    </section>
  </div>
</div>