<div class="row">
  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Reporte PDF de las donaciones a bases
      </header>
      <div class="panel-body">
        <%= form_tag (reports_donaciones_bases_path + '.pdf'),
	           {:method => "get", :class => 'form-inline', :target => '_blank' } do %>
						      
						<div class="form-group">
						    <%= select_year Date.today,{ :start_year => 2013, :end_year => 2030},
						                               {class: "form-control", style:'width:150px'} %>
						</div> 
						<%= button_tag( :name => nil, class:"btn btn-info", id: 'btnGetAjax') do %>
						          <i class="fa fa-file-text"></i> Generar PDF
						<% end %>
						<div class="form-group" id='loading'>              
						</div>
					<% end %>           
      </div>      
    </section>
  </div>
</div>